absl-py==2.0.0
accelerate==0.26.1
aiobotocore==2.11.0
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.2.0
anaconda-catalogs
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anaconda-project
annotated-types==0.6.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
astunparse==1.6.3
async-timeout
atomicwrites==1.4.0
attrs
autograd==1.6.2
autograd-gamma==0.5.0
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.7.0
blis==0.7.11
bokeh
boltons
boto3
botocore==1.34.22
Bottleneck
brotlipy==0.7.0
cachetools==5.3.2
catalogue==2.0.10
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib==0.16.0
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
confection==0.1.4
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.8
Cython==3.0.8
cytoolz==0.12.0
daal4py==2023.1.1
dask
datasets==2.20.0
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill==0.3.8
distributed
distro==1.9.0
dm-tree==0.1.8
docstring-to-markdown
docutils
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints
et-xmlfile==1.1.0
executing
Faker==23.2.1
fastjsonschema
filelock
flake8
Flask
flatbuffers==23.5.26
fonttools==4.25.0
formulaic==1.0.1
frozendict==2.4.4
frozenlist
fsspec==2023.12.2
future
fuzzywuzzy==0.18.0
gast==0.5.4
gensim
gitdb==4.0.11
GitPython==3.1.40
glob2
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.60.0
h11==0.14.0
h5py==3.8.0
HeapDict==1.0.1
hmmlearn==0.3.0
holoviews==1.15.4
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.23.4
hvplot==0.8.2
hyperlink==21.0.0
idna==3.4
imagecodecs==2023.10.11
imageio==2.31.0
imagesize==1.4.1
imbalanced-learn==0.12.0
importlib-metadata==6.6.0
incremental==22.2.0
inflection==0.5.1
iniconfig==2.0.0
intake==0.7.0
interface-meta==1.3.0
intervaltree==3.1.0
ipykernel==6.25.1
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
isort==6.3.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.0
jellyfish==1.0.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.18.6
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-server==2.7.0
jupyter-ydoc==0.3.2
jupyter_client==8.3.0
jupyter_core==5.3.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.24.0
keras==2.15.0
keyring==24.2.0
kiwisolver==1.4.5
langcodes==3.3.0
lazy-object-proxy==1.9.0
lazy_loader==0.3
Levenshtein==0.23.0
libarchive-c==4.0
libclang==16.0.6
libmambapy==0.31.0
lifelines==0.28.0
linearmodels==5.4
linkify-it-py==2.0.0
llvmlite==0.41.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==1.0.0
mdurl==0.1.2
menuinst==1.4.24
mistune==2.0.5
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools==10.0.0
mpmath==1.3.0
msedge-selenium-tools==3.141.4
msgpack==1.0.7
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.16
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql-connector-python==8.2.0
mysqlclient==2.2.1
namex==0.0.7
navigator-updater==0.4.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.9.0
notebook==7.0.4
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.5
numpy==1.26.4
numpydoc==1.5.0
oauthlib==3.2.2
openai==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
outcome==1.3
